.App {
  background-color: #282c34;
  padding-top: 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.variables {
  text-align: right;
}

.willBe {
  padding: 0 20px;
  text-align: right;
}

.calculateEachMonth, .cell{
  display: flex;
  justify-content: space-between;
}

.calculateDeposite {
  color: rgb(21, 104, 0);
}


p {
  margin: 0;
  display: inline-block;
}
