.App {
  background-color: #2b2c3a;
  padding-top: 30px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: center;

}
.container > div {
  margin: 10px;
}

.title {
  text-align: center;
}
.variables  {
  display: flex;
  flex: 0.3;
  flex-direction: column;
  align-items: center;
}

.longThermPlans {
  flex: 0.3;
}

.willBe {
  text-align: right;
  flex: 0.3
}

.cell {
  text-align: center;
  flex: 1;
  color: #fff;
}

input, textarea {
  text-align: center;
}

textarea {
  resize: none;
  flex: 1;
}

.calculateEachMonth, .calculateEachYear  {
  display: flex;
  justify-content: center;
}

.calculateDeposite {
  color: rgb(21, 104, 0);
  margin-left: 5px;
}

.procentForDeposite {
  background-color: green;
}


p {
  margin: 0;
  display: inline-block;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 510px) {
  .container {
    width: 320px;
  }
}