.App {
  background-color: #282c34;
  padding-top: 30px;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: center;

}
.container > div {
  /* background-color: red; */
  /* padding: 50px; */
  margin: 10px;
}

h1{
  text-align: center;
}

.variables {
  text-align: right;
}

.willBe {
  /* padding: 0 20px; */
  text-align: right;
}

.calculateEachMonth, .cell{
  display: flex;
  justify-content: space-between;
}

.calculateDeposite {
  color: rgb(21, 104, 0);
  margin-left: 5px;
}


p {
  margin: 0;
  display: inline-block;
}

@media (max-width: 950px) {
  .container {
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
}
@media (max-width: 510px) {
  .container {
    width: 320px;
  }
}